
html, body {
    height: 100%;
}

header {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
    height:85px;
    box-sizing: border-box;
}

nav {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
    height:85px;
    box-sizing: border-box;
}

section {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
    height:260px;
    box-sizing: border-box;
}

article {
    width:66%;
    color:#ebebeb;
    overflow: auto;
    padding-bottom: 85px;
    float: left;
}

aside {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 260px;
    width:34%;
    box-sizing: border-box;
    float: right;    
}

.fix {
    clear: both;
}

Footer {
    background:#eee;
    padding:1em;
    margin-top:  5px;
    margin-bottom: 5px;
    height:85px;
    box-sizing: border-box;
    position: relative;
}

body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    columns: #777777;
    background:#777;
}

