
html, body {
    height: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
}

header {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
    height:85px;
    box-sizing: border-box;
    text-align: center;
}

nav {
    background:#eee;
    padding:1em;
    margin-top: 10px;
    margin-bottom: 5px;
    height:85px;
    box-sizing: border-box;
    text-align: center;
}

.content-area {
    height: 260px;
    margin-top: 20px;
}

section {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
    height:260px;
    width: 528px;
    box-sizing: border-box;
    float: left;
    position: relative;
    text-align: center;
}

article {
    background-color: #777;
    overflow: auto;
    padding-bottom: 85px;
    height: 180px;
    width: 510px;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    right: 8px;
    position: relative;
    color:#eee;
}

#article {
    margin-top: 10px;
}

.block1 {
    height: 55px;
    width: 470px;
    box-sizing: border-box;
    background-color: #eee;
    margin-right: 10px;
    margin-left: 20px;
    position: absolute;
    bottom: 85px;
    text-align: center;
    color: #777;
}

.block2 {
    height: 55px;
    width: 470px;
    box-sizing: border-box;
    background-color: #eee;
    margin-right: 10px;
    margin-left: 20px;
    position: absolute;
    bottom: 15px;
    text-align: center;
    color:#777;

}


aside {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 260px;
    width:412px;
    box-sizing: border-box;
    float: right; 
    text-align: center;   
}

.fix {
    clear: both;
}

Footer {
    background:#eee;
    padding:1em;
    margin-top: 24px;
    margin-bottom: 5px;
    height:85px;
    width: auto;
    box-sizing: border-box;
    text-align: center;
}

body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    columns: #777777;
    background:#777;
}

