header {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

section {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

aside {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

Footer {
    background:#eee;
    padding:1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    margin-left: 264px;
    margin-right: 264px;
    columns: #777777;
    background:#777';
    

}